<form action="/cheeses/<%= @cheese["id"] %>" method="POST">
  <label for="new_cheese_name">Name</label>
  <input type="text" name="name" value="<%= @cheese["name"] %>" id="new_cheese_name">
  <br />

  <label for="new_cheese_country">Country</label>
  <input type="text" name="country" value="<%= @cheese["country"] %>" id="new_cheese_country">
<br />

  <label for="new_cheese_milk_type">Milk Type</label>
  <input type="text" name="milk_type" value="<%= @cheese["milk_type"] %>" id="new_cheese_milk_type">

<br />

  <label for="new_cheese_stank_level">Stank Level</label>
  <input type="text" name="stank_level" value="<%= @cheese["stank_level"] %>" id="new_cheese_stank_level">

  <br />

  <label for="new_cheese_desc">Description</label>
  <input type="text" name="desc" value="<%= @cheese["desc"] %>" id="new_cheese_desc">


  <input type="hidden" name="_method" value="PUT">
  <input type="submit" value="Update Cheese">
</form>
