  <div id="side_btn">

  <form action="/colas/<%= @cola["id"] %>/edit" method="LINK" >
  <input type="submit" value="Edit this Cola Entry" class="button">
  </form>



  <form action="/colas/<%= @cola["id"] %>" method="POST"class="button">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Cola">
  </form>
  </div>



<div id="item">
  <h2><%= @cola["name"] %></h2>
<table>
  <tr><td rowspan="4" style="padding-right:10px"><img src="<%= @cola["image_url"] %>" width="auto" height="400px"/></td>
  </tr>
    <tr><td>Country: <%= @cola["country"] %></td></tr>
    <tr><td>Taste Level: <%= @cola["taste_level"] %></td></tr>
    <tr><td>Sugar Type: <%= @cola["sugar_type"] %></td></tr>

  <tr><td colspan="2">Brief: <%= @cola["desc"] %></td>
  </tr>
</table>


  <br /><br />

  <li><h3>Comments:</h3></li>
<% @cola["comments"].each do |comment| %>
<li>New Comment:</li>
  <li><%= comment["user_name"] + ":  " + comment["user_comment"] %></li>
  <br />
<% end %>



<div>
  <h3>Add a new Comment:</h3>
<form action="/colas/<%= @cola["id"] %>/comments" method="POST" id="form">

  <label for="user_name">User Name</label>
  <input type="text" name="user_name" placeholder="User Name" id="user_name">
  <br />

  <label for="user_comment">Comments</label>
  <input type="text" name="user_comment" placeholder="user_comment" id="user_comment">
  <br />
 <br />

  <input type="submit" value="Submit Comment" class="button">
</form>
</div>










</div>




